<div class="mb-3">
    <label for="nombre" class="form-label">Nombre Completo</label>
    <input
      type="text"
      class="form-control"
      name="nombre"
      id="nombre"
      placeholder="Ingrese el nombre de la persona que reserva"
    />
  </div>
  <div class="mb-3">
    <label for="codigo" class="form-label">Código de Reserva</label>
    <input
      type="text"
      class="form-control"
      name="codigo"
      id="codigo"
      placeholder="Ingrese el código de la reserva"
    />
  </div>
  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha de Reserva</label>
    <input
      type="date"
      class="form-control"
      name="fecha"
      id="fecha"
      placeholder="Ingrese la fecha de la reserva"
    />
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>