<%- include('./partials/header') %>

<div class="container">
  <div class="row mt-5">
    <h1 class="text-center border-botton">Reserva</h1>
    <form class="col-5" action="#" id="updateReservaForm" data-id="<%= id  %>">
      <%- include('./partials/form.ejs') %>
    </form>
  </div>
</div>
<script src="/reservas/edit.js"></script>

<%- include('./partials/footer') %>